.gameScreen
  position relative
  height 100%  
  background-image url('../../public/background1.jpg')
  background-size cover
  background-repeat no-repeat
  background-position: right center

  .message
    position absolute
    left: 50%
    width: 50%
    text-align: center
    transform: translate3d(-50%,0px,0px)
    z-index: $popoverZIndex
    background-color: $menuBackground
    padding: 2ch
    top: ($gridSpacing/2)
    border-radius: 4px
    defaultShadow()

  button.plain
    retro-button(#222, #f33, #111)

  .starfield
      position absolute
      left 0
      top 0
      right 0
      bottom 0
      z-index: 100

  .explodingScout
    rect
      transition all 750ms ease-in

  .unitStrip
    background-color: black
    padding: 10px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    div
      width: 32px
      height: 32px
      margin-right: 16px

  .transparentPopoverOverlay
    position absolute
    z-index: $overlayZIndex
    top 0
    left 0
    bottom 0
    right 0
    background-color rgba(0,0,0,0.0)

  .outerContainer
    padding: $gridSpacing
    height: "calc(100% - %s)" % (2 * $gridSpacing) // calc(100% - 40px)
    
    .innerContainer
      display grid
      width: 100% // "calc(100% - %s)" % $gridSpacing
      height 100%
      grid-gap: $gridSpacing
      grid-template-columns: auto 400px
      grid-template-rows: "calc(100% - 72px - 20px) 72px" % $gridSpacing

      .bottomBar
        grid-column: 1
        grid-row: 2
        display: flex
        flex-direction: row
        .scoreAndStartdate
          standardPaddedPanel ()
          margin-right: $gridSpacing
          display: flex
          flex-direction: row
          align-items: center
          button
            retro-button(#222, #f33, #900)
            padding 6px
            height 32px
            width 32px
            margin-right: 1ch
          
        .bottomBarButtons
          standardPaddedPanel ()
          flex-grow: 1
          display: grid
          grid-gap: $gridSpacing
          grid-template-columns: 1fr 1fr 1fr
          position relative
                    
          .buttonContainer
            display: flex
            flex-direction: column
            justify-content: center
            position relative

      .sideBar
        overflow-y: auto
        grid-column: 2
        grid-row-start: 1
        grid-row-end: 2
        //max-width: 300px
        display: flex
        flex-direction: column
        justify-content: flex-start

      .fireButtons
        grid-column: 2
        grid-row-start: 2
        grid-row-end: 3
        standardPaddedPanel ()
        padding-left: 16px
        padding-right: 16px
        display: grid
        grid-auto-flow: column
        grid-gap: $gridSpacing
        grid-template-columns: 1fr 1fr

        div
          display: flex
          flex-direction: column
          justify-content: center

        button
          retro-button(#f22, #f33, #900)

