.gameScreen
  position relative
  height 100%  
  background-image url('../../public/background1.jpg')
  background-size cover
  background-repeat no-repeat
  background-position: right center

  .transparentPopoverOverlay
    position absolute
    z-index: $overlayZIndex
    top 0
    left 0
    bottom 0
    right 0
    background-color rgba(0,0,0,0.0)

  .outerContainer
    padding: $gridSpacing
    height: "calc(100% - %s)" % (2 * $gridSpacing) // calc(100% - 40px)
    
    .innerContainer
      display grid
      width: 100% // "calc(100% - %s)" % $gridSpacing
      height 100%
      grid-gap: $gridSpacing
      grid-template-columns: auto 400px
      grid-template-rows: "calc(100% - 72px - 20px) 72px" % $gridSpacing

      .bottomBar
        standardPaddedPanel ()
        grid-column: 1
        grid-row: 2

      .sideBar
        overflow-y: auto
        grid-column: 2
        grid-row-start: 1
        grid-row-end: 2
        //max-width: 300px
        display: flex
        flex-direction: column
        justify-content: flex-start

      .fireButtons
        grid-column: 2
        grid-row-start: 2
        grid-row-end: 3
        standardPaddedPanel ()
        padding-left: 16px
        padding-right: 16px
        display: grid
        grid-auto-flow: column
        grid-gap: ($gridSpacing / 2)
        grid-template-columns: 50% 50%

        div
          display: flex
          flex-direction: column
          justify-content: center

        button
          retro-button(#f22, #f33, #900)

