.weapons
  standardPaddedPanel ()
  flex-grow: 1
  display: flex
  flex-direction: column

  .inner
    propertyGrid ()

  .torpedoes
    display flex
    justify-content: space-between
    flex-direction: row
    align-items: center

    .torpedo
      height 1.5ch
      width 1.5ch
      border-radius: 0.75ch

    .torpedoActive
      background-color: $danger

    .torpedoInactive
      background-color: $indicatorBackgroundColor

  .targets
    flex-grow: 1
    margin-top: $propertyGridRowGap
    position relative
    display grid
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-flow: column
    grid-column-gap: $propertyGridColGap
      
    .target
      background-color: red
      width: 100%
      //padding-top: 100%
      