body
  margin: 0
  padding: 0
  background-color: black

.container
  width: 100vw
  height: 100vh

.startScreen
  height: 100%
  display: grid
  grid-template-rows: 33% 67%

  .title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: green
 