@font-face 
  font-family pixelatedBold
  src url(../public/PixelOperator8-Bold.ttf)
@font-face 
  font-family pixelated
  src url(../public/PixelOperator8.ttf)

$gridSpacing = 20px
$danger = rgb(230,3,3)
$warning = rgb(252,186,3)
$healthy = rgb(0,230,0)
$indicatorBackgroundColor = rgba(0,0,0,0.4)

propertyGrid()
  display: grid
  grid-template-columns: 15ch auto
  grid-auto-flow: row
  grid-gap: 10px

panel(padding)
  background-color: rgba(0,0,0,0.5)
  border-color: white
  border-style: solid 
  border-width: 1px
  padding: padding

standardPaddedPanel()
  panel(12px)

retro-button(backgroundColor, hoverColor, disabledColor)
  background-color: backgroundColor
  border-style: none
  border-radius: 2px
  box-shadow: 3px 3px 3px #444
  color: white
  font-family: pixelatedBold 
  font-size: 12px
  padding: 9px 4px
  margin-right: 2px
  margin-bottom: 2px
  margin-top: 0px
  margin-left: 0px
  &:disabled
    background-color: disabledColor
    color: #333
  &:focus
    outline: none
  &:hover:active
    box-shadow: none
    margin-left: 2px
    margin-right: 0px
    margin-bottom: 0px
    margin-top: 2px
    

retro-title-button(backgroundColor, hoverColor, disabledColor)
  retro-button(backgroundColor, hoverColor, disabledColor)
  font-family: pixelatedBold 
  font-size: 18px  
  padding: 9px
  border-color: white
  border-style: solid
  border-width: 1px
  border-radius: 2px
  &:hover:enabled
    background-color: hoverColor
    color: black
  &:hover:active
    background-color: white
    color: backgroundColor
    box-shadow: none    
    

text-outline(n)
  text-shadow (- n) (- n) 0 #000, n (- n) 0 #000, (- n) n 0 #000, n n 0 #000

html
  margin 0
  padding 0

body
  margin 0
  padding 0
  background-color black

.textError
  color: red

.container
  min-width 800px
  min-height 600px
  width 100vw
  height 100vh

.startScreen
  background-image url('../public/background0.jpg')
  background-size cover
  background-repeat no-repeat
  height 100%
  display grid
  grid-template-rows 33% 67%

  .title
    display flex
    flex-direction column
    justify-content center
    align-items center
    color white
    font-family pixelatedBold
    font-size 48px
    text-outline(2px)

  .buttonContainer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    .buttons
      standardPaddedPanel()
      padding 16px 64px
      display flex
      flex-direction column
      justify-content: flex-start

      button:first-child
        retro-title-button(#22f, #66f, #99f)
        margin-top 16px
        margin-bottom 16px

      button
        retro-title-button(#f22, #f66, #f99)
        margin-top 16px
        margin-bottom 16px
 
.gameScreen
  height 100%
  //min-width: 800px
  //min-height:  600px
  background-image url('../public/background1.jpg')
  background-size cover
  background-repeat no-repeat
  background-position: right center

  .levelIndicator
    position relative
    display: flex
    justify-content: flex-start
    align-items: center
    .levelIndicatorBackground
      flex-grow: 1
      height: 8px
      border-radius: 4px
      background-color: $indicatorBackgroundColor
      .levelIndicatorForegroundDanger
        border-radius: 4px
        height: 100%
        background-color: $danger
      .levelIndicatorForegroundWarning
        border-radius: 4px
        height: 100%
        background-color: $warning
      .levelIndicatorForegroundHealthy
        border-radius: 4px
        height: 100%
        background-color: $healthy

  .label
    color: white
    font-family: pixelated
    font-size: 12px

  .labelValuePair
    color: white
    font-family: pixelated
    font-size: 12px
    display: flex
    flex-direction: row
    justify-content: space-between
  
  .outerContainer
    padding: $gridSpacing
    height: "calc(100% - %s)" % (2 * $gridSpacing) // calc(100% - 40px)
    
    .innerContainer
      display grid
      width: "calc(100% - %s)" % $gridSpacing
      height 100%
      grid-gap: $gridSpacing
      grid-template-columns: 66% 34%
      grid-template-rows: "calc(100% - 72px - 20px) 72px" % $gridSpacing
    
      .shortRangeScanner
        panel (0)
        grid-column: 1
        grid-row: 1
        position relative

        .verticalLine
          padding: 0px
          margin: 0px
          position: absolute
          height: 100%
          border-right-style: dashed
          border-right-width: 2px
          border-right-color: darkgreen
          opacity: 0.5

        .horizontalLine
          padding: 0px
          margin: 0px
          position: absolute
          width: 100%
          border-bottom-style: dashed
          border-bottom-width: 2px
          border-bottom-color: darkgreen
          opacity: 0.5

        .overlayGrid
          position: absolute
          display grid
          width 100%
          height 100%
          grid-gap: 0
          cursor: grab

        .gameObject
          position: absolute
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

      .bottomBar
        standardPaddedPanel ()
        grid-column: 1
        grid-row: 2

      .sideBar
        grid-column: 2
        grid-row-start: 1
        grid-row-end: 2
        display: flex
        flex-direction: column
        justify-content: flex-start

        .energyManagement
          standardPaddedPanel ()
          propertyGrid ()
          margin-bottom: $gridSpacing
          .shieldsProperties
            width: 100%
            display: flex
            flex-direction: column
            div
              margin-bottom: 5px
            // display: grid
            // grid-auto-flow: row
            // grid-template-columns: 100%
            // grid-gap: 10px
            // align-items: start

          .shieldsContainer
            position relative
            width: 100%
            padding-top: 100%

          .shieldsGraphics
            position: absolute
            top 0px
            left 0px
            right 0px
            bottom 0px

          .shieldPlayerContainer
            position: absolute
            top 0px
            left 0px
            right 0px
            bottom 0px
            display: flex
            justify-content: center
            align-items: center

          .shieldsPlayer
            width: 40%
            height: 40%

        .weapons
          standardPaddedPanel ()
          flex-grow: 1

      .fireButtons
        grid-column: 2
        grid-row-start: 2
        grid-row-end: 3
        standardPaddedPanel ()
        padding-left: 16px
        padding-right: 16px
        display: grid
        grid-auto-flow: column
        grid-gap: ($gridSpacing / 2)
        grid-template-columns: 50% 50%

        div
          display: flex
          flex-direction: column
          justify-content: center

        button
          retro-button(#f22, #f66, #f99)
          //margin-top 16px
          //margin-bottom 16px

